* {
  box-sizing: border-box;
  margin: 0;
}
*::after {
  box-sizing: border-box;
  margin: 0;
}
*::before {
  margin: 0;
  box-sizing: border-box;
}

.btn-1 {
  background-color: #0e6cff;
  animation: hAnim 4s 1s both;
}
@keyframes hAnim {
  0% {
    opacity: 0;
    bottom: 60px;
  }
  50% {
    opacity: 0.5;
    bottom: 30px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

.btn-2 {
  background-color: #ff8700;
  animation: hAnim 4s 2s both;
}
@keyframes hAnim {
  0% {
    opacity: 0;
    bottom: 60px;
  }
  50% {
    opacity: 0.5;
    bottom: 30px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

.btn-3 {
  background-color: #4caf50;
  animation: hAnim 4s 3s both;
}
@keyframes hAnim {
  0% {
    opacity: 0;
    bottom: 60px;
  }
  50% {
    opacity: 0.5;
    bottom: 30px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #1b6ef3;
}
nav ul {
  align-items: center;
  display: flex;
  list-style: none;
}
nav ul li {
  padding: 10px;
  background-color: #3998d3;
  margin-inline: 10px;
  font-size: 30px;
  border-radius: 15% 15% 15% 15%/15% 15% 15% 15%;
}

header {
  margin-block: 20px;
  display: flex;
  justify-content: space-around;
  padding-inline: 20px;
  background-color: #d3e3fd;
  position: relative;
  animation: hAnim 2s 0s both;
}
@keyframes hAnim {
  0% {
    opacity: 0;
    bottom: 60px;
  }
  50% {
    opacity: 0.5;
    bottom: 30px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
header .headImg {
  -o-object-fit: cover;
     object-fit: cover;
  animation: hAnim 4s 2s both;
}
@keyframes hAnim {
  0% {
    opacity: 0;
    bottom: 60px;
  }
  50% {
    opacity: 0.5;
    bottom: 30px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
header .headImg img {
  max-width: 800px;
}
header .headText {
  display: flex;
  flex-direction: column;
}
header .headText p {
  animation: hAnim 4s 4s both;
  font-size: 30px;
}
@keyframes hAnim {
  0% {
    opacity: 0;
    bottom: 60px;
  }
  50% {
    opacity: 0.5;
    bottom: 30px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
header .headText h1 {
  animation: hAnim 4s 3s both;
  font-size: 48px;
  color: #1b6ef3;
}
@keyframes hAnim {
  0% {
    opacity: 0;
    bottom: 60px;
  }
  50% {
    opacity: 0.5;
    bottom: 30px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
header .headText div {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
header .headText div button {
  margin: 2px;
  border-radius: 30% 30% 30% 30%/30% 30% 30% 30%;
  font-size: 24px;
}

main {
  display: flex;
  position: relative;
}
main::after {
  content: "";
  border-radius: 50%;
  box-shadow: 0px 0px 15px 9px #000000;
  border: none;
  position: absolute;
  bottom: -30px;
  background: rgb(0, 0, 0);
  width: 90%;
  height: 4px;
  left: 3%;
  filter: blur(3px);
}
main .mImg img {
  max-width: 700px;
  height: 100%;
}
main .mText {
  background-image: url(https://images.unsplash.com/photo-1558874001-dc7dbb4bfe11?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80);
  padding: 10px;
}
main .mText p {
  font-size: 24px;
  color: #7cacf8;
}
main .mText h2 {
  color: #1b6ef3;
  font-size: 28px;
}

aside {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 40px;
  margin-top: 40px;
}
aside .primeDue {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
aside .primeDue img {
  max-width: 60vh;
  height: 100%;
}/*# sourceMappingURL=style.css.map */