//--------------------------------------------font--------------------------------------------

$primFont: sans-serif;
$secFont: Arial;
$terFont: "Helvetica Neue";

$pDim: 24px;
$h3Dim: 28px;
$h2Dim: 30px;
$h1Dim: 48px;
